body {
    background-color: rgb(20, 20, 20);
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-form p {
    font-size: 15px;
}

#login-form input {
    background-color: black;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
}

#login-form input:focus {
    outline: none;
}

#login-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #2d2d2d;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px 0;
}

#login-form button:hover {
    background-color: #0056b3;
}

#register-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#register-form input {
    background-color: black;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
}

#register-form input:focus {
    outline: none;
}

#register-form button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #2d2d2d;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px 0;
}

#register-form button:hover {
    background-color: #0056b3;
}

.menu {
    background-color: rgb(26, 26, 26);
    padding: 10px;
    font-weight: bolder;
}

#menu-icon {
    height: 20px;
    border-radius: 20px;
    position: relative;
    top: 0.4vh;
    margin-right: 10px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #292929;
}

::-webkit-scrollbar-thumb {
    background:  #50a3f0;
}

#chats {
    height: 84vh;
    overflow-y: auto;
}

.msg {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.message {
    background-color: rgb(70, 135, 255);
    float: right;
    max-width: 50%;
}

.response {
    clear: both;
    text-indent: 20px;
    margin: 0 5%;
}

.status-message {
    color: #424242;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.instruct_msg {
    margin: 30px;
    color: rgba(255, 255, 255, 0.338);
}

.input-field {
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: 100%;
}

.input-field input {
    border-radius: 10px;
    background-color: rgb(28, 28, 28);
    width: 90%;
    margin: 0 5%;
    padding: 10px 0;
    width: fit;
    border: none;
    text-indent: 20px;
    color: white;
}

.input-field input::placeholder {
    color: white;
}

.chat-icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    transform: translate(-110%, 50%);
}
